{% extends 'base.html.twig' %}

{% block title %}ManagePost{% endblock %}

{% block body %}
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Image Link</th>
        <th scope="col">Location</th>
        <th scope="col">Open spots</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for post in aparts %}
        <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.description }}</td>
            <td>{{ post.price }}</td>
            <td>{{ post.coverImg }}</td>
            <td>{{ post.location }}</td>
            <td>{{ post.openSpots }}</td>
            <td>
                <a href="{{ path('app_details_page', {'id': post.id}) }}">show</a>
                {# <a href="{{ path('', {'id': post.id}) }}">edit</a> #}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
