{% extends 'base.html.twig' %}

{% block title %}AdminDashboard{% endblock %}
{% block stylesheets %}<link rel="stylesheet" href="{{ asset('css/sidebar.css') }}">{% endblock %}
{% block body %}
    {% block sidebar %}
        <div class="parent" >
            <a class="choice" href="{{ path('admin') }}"><div>Manage user's accounts</div></a>
            <a class="choice" href="{{ path('managePost') }}"><div>Manage user's Posts</div></a>
            <a class="choice" href="{{ path('addAdmin') }}"><div>Add an admin</div></a>
        </div>
    {% endblock %}
    {% block content %}
     <div>
    <table class="table table-bordered">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Mail</th>
            <th scope="col">Admin</th>
            <th scope="col">Actions</th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.mail }}</td>
                <td>{{ user.admin ? 'yes' : 'no' }}</td>
                <td>
                    <a href="{{ path('admin', {'id': user.id}) }}">Edit</a>
                    {% if user.admin != true %}
                        <a href="{{ path('admin', {'id': user.id}) }}">Delete</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    </div>
    {% endblock %}

    
{% endblock %}
