{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('css/DetailsPage.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {% if message is defined and message %}
        <div class="alert">
        <div class="alert alert-primary text-center" style="margin-bottom:10px ;">
            {{ message }}
        </div>
            {% endif %}
        <div class="{{apart.id}}">
            <img src="{{apart.coverImg}}" alt="{{apart.title}}" class="image" />
            <h2 class="title">{{apart.title}}</h2>
            <p class="description">{{apart.description}}</p>
            <p class="price">Price: {{apart.price}} €/night</p>
            <div class="button-container">
                <a style="text-decoration: none"  href="{{path('contact',{'id':apart.id})}}" class="btn mybtn" >Contact via Email</a>
            </div>
        </div>

        </div>
    </div>
{% endblock %}
