<div class="card" id="{{ id }}">
    {% if badgeText %}
        <div class="card--badge">{{ badgeText }}</div>
    {% endif %}
    <img
            src="{{ coverImg }}"
            class="card--image"
            alt="{{ description }}"
    />
    <div class="card--stats">
        <span>{{ rating }}</span>
        <span class="gray">({{ reviewCount }}) • </span>
        <span class="gray">{{ location }}</span>
    </div>
    <p class="card--title">{{ title }}</p>
    <p class="card--price">
        <span class="bold">From ${{ price }}</span> / night
    </p>
    {% if user is defined and user %}
        <div class="card--actions text-center" style="margin-bottom: 20px;">
            <a class="btn btn-primary" style="width: 40%;" href="{{ path('update_post', {'id': id}) }}">Edit</a>
            <a class="btn btn-danger" style="width: 40%;"  href="{{ path('delete_post', {'id': id}) }}">Delete</a>
        </div>
    {% endif %}
    {% if admin is defined and admin %}
        <div class="card--actions text-center" style="margin-bottom: 20px;">
            <a class="btn btn-danger" style="width: 50%;"  href=" {{path("managePost")}}">Delete</a>
        </div>
    {% endif %}
</div>
